@import "tailwindcss";

:root {
  --font-space-grotesk: "Space Grotesk", sans-serif;
}


@theme {
  --font-sans: var(--font-space-grotesk), system-ui, sans-serif;
  --color-lime: oklch(0.92 0.1959 130.23);
  --color-dark: oklch(0.22 0.0176 279.88);
  --color-cloud: oklch(0.96 0 0);
  --radius-45: 45px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 24px solid currentColor;
  margin-right: 20px;
}

/* Custom radio button style */
.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-black);
    border-radius: 29px;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 2px;
    background-color: white;
}

.custom-radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: var(--color-lime);
    border-radius: 16px;
}
